<div class="columns">
  <div class="column">
    <h3 class="title">Edit Breeder</h3>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <%= render 'form' %>
  </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <%= link_to 'Cancel', breeders_url, class: 'button' %>
  </div>
</div>