<div class="columns">
  <div class="column">
    <h3 class="title">Failed to retrieve messages</h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    This breeder isn't associated with an active user account.
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= link_to "Back", breeders_path, class: 'button is-info' %>
  </div>
</div>